// place your custom styles here
.vp-hero-info-wrapper{
    // height: 90% !important;
    height: 85vh ;

}
.vp-footer-wrapper{
    height: 5vh;
}
code{

    font-weight: bold;
   color:  #e74200;
}
.theme-hope-content p{
    font-size: 18px;
}